@import colors
@import compass

label
  color: gray
  abbr
    border: none

.show label
  margin-bottom: 5px

select
  max-width: 300px

input.span11[type="checkbox"]
  width: 16px
  height: 16px

input.numeric
  text-align: right

.hint
  display: block
  color: gray
  font-style: italic
  clear: both


.errorExplanation
  color: $red
  //background-color: $light_red
  border: 2px solid $red
  padding: 5px 15px
  +border-radius(4px)
  ul
    list-style: none
    padding: 0px 10px

  h2
    font-weight: normal
    font-size: 1.2em
    margin: 4px 0px

span.error
  display: inline-table
  color: $red
  margin-top: -10px

.select2-bonsai-error
  span.error
    margin-top: 0px

td span.error
  display: block

.error
  .help-block
    clear: both

.field_with_errors
  input, textarea, select
    background-color: lighten($red, 60%)
    border-color: lighten($red, 25%) !important

form.simple_form div.main
  padding: 0 1em
  +border-radius(3px)

select.datetime
  width: 3.5em

a
  text-decoration: none

textarea, input, select
  width: auto

input[type="decimal"], input.decimal
  text-align: right
  +border-radius(3px)
  +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075))

  background-color: #ffffff
  border: 1px solid #cccccc

  display: inline-block
  height: 18px
  padding: 4px
  //margin-bottom: 9px
  font-size: 13px
  line-height: 18px
  color: #555555
  margin-bottom: 10px

input[type="decimal"]:focus
  +box-shadow(inset 0 1px 1px rgba(0 ,0 ,0 , 0.075), 0 0 8px rgba(82, 168, 236, 0.6))
  border-color: rgba(82, 168, 236, 0.8)
  outline: 0
  outline: thin dotted \9

input[disabled]
  cursor: not-allowed
  background: #EEE

.select2-container
  width: auto
  min-width: 250px

.control-group, .form-horizontal .control-group, .form-vertical .control-group
  margin-bottom: 10px

.select2-container .select2-choice span
  >span
    display: inline !important
    margin-right: 0px

.tooltip
  font-weight: normal !important

.well form
  margin-bottom: 0px

//.hide-select2-search .select2-search
  display: none

.input-append, .input-prepend.input-append
  .add-on.append
    margin-left: -5px


.input-prepend, .input-prepend.input-append
  .add-on.prepend
    margin-right: -5px

.btn-group .btn
  margin: 0px


// Button pane
.buttons-list
  margin-bottom: 20px

.button-pane
  display: none

.but
  .buttons-list
    float: left
    display: inline-block

input.row-check
  vertical-align: top
  margin-right: 4px

.input
  .btn
    vertical-align: top

.form-inline
  .boolean > label
    margin-left: 4px


input[type="number"]
  width: 100px

/*****************************************
 * Especial conatiner for forms
 */
.form-container
  margin: 4px
  +border-radius
  +box-shadow(0px 0px 3px $grayLight)
  .title
    +border-top-radius
    padding: 5px 10px
    background-color: $gray
    color: white

  .row, .row-fluid
    padding: 0px 10px

  .borders-y
    padding: 10px

  .form-actions
    margin-bottom: 0px

  form
    overflow: hidden

// data-new_url
.add-new-url, .btn-icon
  margin-lefth: 0px
  font-size: 110%
  width: 16px
  padding: 4px 6px


// modal-more

.view-more
  display: none
.ajax-modal
  .modal-more
    display: none

  .view-more
    display: block

.view-more-enabled
  .modal-more
    display: block
  .view-more
    display: none

.alert-error
  dl
    margin: 5px 0px 10px

// Panes
.panes
  margin-left: 10px
  float: left
  display: inline-block
//#search, #tags
  width: 350px

.autocomp
  position: relative
  i.icon
    position: absolute
    z-index: 10
    top: 6px
    left: 4px
    font-size: 14px !important
  input.autocomp
    background: url('<%= asset_path 'search.png' %>') no-repeat
    background-position: 4px 6px
    padding-left: 22px

  input.autocomp.loading
    background: url('<%= asset_path 'ajax-loader-facebook.gif' %>') no-repeat
    background-position: 2px 8px


@media (max-width: 768px)
  .buttons-list .btn

  .panes
    display: block
    width: 100%

  input[type="text"]
  input[type="password"]
    max-width: 85%


  .autocomp input
    max-width: 85%

.item-name
  width: 450px

.search
  input#search
    width: 100%
    min-width: 250px
    max-width: 400px

@media (max-width: 800px)
  .item-name
    width: 250px

  .search
    margin-top: 10px

